body {
    font-family: Calibri, sans-serif;
    background-color: #E2DBE7;
    margin: 0;
    padding: 0;
}

.todo {
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px; 
}

h1, h2 {
    text-align: center;
}

.dados-pessoais {
    margin-bottom: 15px;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

label {
    display: block;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
}

input, button {
    width: calc(100% - 22px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #B64FE0;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #AE67E8;
}

#top-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: #CC99E0;
    display: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#top-button:hover {
    background-color: #8B1AE8;
}
